<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Run-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,61}</string>
                <key>spriteSourceSize</key>
                <string>{44,61}</string>
                <key>textureRect</key>
                <string>{{169,64},{44,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{1,68},{54,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{66,1},{64,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,63}</string>
                <key>spriteSourceSize</key>
                <string>{65,63}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,63}</string>
                <key>spriteSourceSize</key>
                <string>{51,63}</string>
                <key>textureRect</key>
                <string>{{65,68},{51,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,62}</string>
                <key>spriteSourceSize</key>
                <string>{37,62}</string>
                <key>textureRect</key>
                <string>{{130,63},{37,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{128,1},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,61}</string>
                <key>spriteSourceSize</key>
                <string>{43,61}</string>
                <key>textureRect</key>
                <string>{{175,1},{43,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyRun.png</string>
            <key>size</key>
            <string>{219,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e131657a82c41b8360fb2b8bba223715:475641aeaf35832167b19aad41266bb9:429baaac8838c0853955685c4715645d$</string>
            <key>textureFileName</key>
            <string>EnemyRun.png</string>
        </dict>
    </dict>
</plist>
