<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Light_charge-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{1,1},{4,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Light_charge-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,63}</string>
                <key>spriteSourceSize</key>
                <string>{37,63}</string>
                <key>textureRect</key>
                <string>{{73,1},{37,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light_charge-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,62}</string>
                <key>spriteSourceSize</key>
                <string>{116,62}</string>
                <key>textureRect</key>
                <string>{{1,299},{116,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light_charge-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,62}</string>
                <key>spriteSourceSize</key>
                <string>{112,62}</string>
                <key>textureRect</key>
                <string>{{1,363},{112,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light_charge-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,62}</string>
                <key>spriteSourceSize</key>
                <string>{112,62}</string>
                <key>textureRect</key>
                <string>{{1,427},{112,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light_charge-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,63}</string>
                <key>spriteSourceSize</key>
                <string>{50,63}</string>
                <key>textureRect</key>
                <string>{{66,66},{50,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light_charge-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,63}</string>
                <key>spriteSourceSize</key>
                <string>{46,63}</string>
                <key>textureRect</key>
                <string>{{1,34},{46,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Light_charge-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,63}</string>
                <key>spriteSourceSize</key>
                <string>{31,63}</string>
                <key>textureRect</key>
                <string>{{8,1},{31,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Light_charge-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,62}</string>
                <key>spriteSourceSize</key>
                <string>{87,62}</string>
                <key>textureRect</key>
                <string>{{1,82},{87,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Light_charge-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,62}</string>
                <key>spriteSourceSize</key>
                <string>{117,62}</string>
                <key>textureRect</key>
                <string>{{1,171},{117,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light_charge-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,65}</string>
                <key>spriteSourceSize</key>
                <string>{117,65}</string>
                <key>textureRect</key>
                <string>{{1,491},{117,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light_charge-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,65}</string>
                <key>spriteSourceSize</key>
                <string>{118,65}</string>
                <key>textureRect</key>
                <string>{{1,558},{118,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light_charge-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,62}</string>
                <key>spriteSourceSize</key>
                <string>{116,62}</string>
                <key>textureRect</key>
                <string>{{1,235},{116,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayerAttack.png</string>
            <key>size</key>
            <string>{120,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d9a822d2877d2b90ac551047a47b656:4562681d516a04436579280403dc7589:7bcea87573e8ebe55c125c157d5292bc$</string>
            <key>textureFileName</key>
            <string>PlayerAttack.png</string>
        </dict>
    </dict>
</plist>
